@import "compass/css3"

body
  background: #E8E8E8 url(../images/bg_paper.jpg)
  position: relative
  // width gets adjusted by js later..
  width: 20000px 
  overflow-x: auto
  overflow-y: hidden

@mixin banana_link($color)
  color: $color
  border-bottom: 1px dashed $color
  text-decoration: none
  &:hover
    border-bottom-width: 2px
    border-style: solid

#content
  margin: 0 0 0 0
  padding: 20px 100px 20px 60px
  
  &.invisible
    visibility: hidden
  p
    display: block
    margin: 0
    padding: 0
    font-size: 2.5em
    color: #42403A
    a.a
      @include banana_link(#436900)
    a.b
      @include banana_link(#577c0c)
    a.c
      @include banana_link(#829719)
    a.d
      @include banana_link(#ac9d03)
    a.e  
      @include banana_link(#b8a501)
    a.f
      @include banana_link(#e7c100)
    a.g
      @include banana_link(#e8c13a)
    a.h
      @include banana_link(#daac00)
    span.i
      color: #8f6906
    a.j
      @include banana_link(#4b2600)

/* Hide webkit stuff until its ready */
.wf-loading
  visibility: hidden


